body {
    background-color: #35980E; / green
    
}
<h1 style="color: green;"><h1>testing bro this is a test not anything else testing bro this is a test not anything else testing bro this is a test not anything else testing bro this is a test not anything else<h1>
body {
  display: grid;
  place-items: center;
  background: #000000;
  background-image: 
    linear-gradient(45deg, #ffffff 25%, transparent 25%, transparent 75%, #ffffff 75%, #ffffff),
    linear-gradient(45deg, #ffffff 25%, transparent 25%, transparent 75%, #ffffff 75%, #ffffff);
  background-size: 50px 50px;
  background-position: 0 0, 25px 25px;
}
